<form autocomplete="off">
    <div class="tab">
        <p class="notes">{{localize "DANGERZONE.type-form.audio.description"}}</p>
        <div class="form-group">
            <label for="randomFile">{{localize "DANGERZONE.type-form.audio.random.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-action="random" data-dtype="Boolean" name="randomFile" {{checked randomFile}}>
            </div>
        </div>
        <div id="dz-audio-file" class="form-group {{#if randomFile}}hidden-picker{{/if}}">
            <label for="file">{{#if randomFile}}{{localize "DANGERZONE.type-form.audio.playlist.label"}}{{/if}}{{#unless randomFile}}{{localize "DANGERZONE.type-form.audio.file.label"}}{{/unless}}</label>
            <div class="form-fields">
                {{filePicker target="file" type="audio"}}
                <input type="text" required  name="file" class="image" placeholder="{{#unless randomFile}}{{localize "DANGERZONE.type-form.audio.file.placeholder"}}{{/unless}}" value="{{file}}">
            </div>
        </div>
        <div class="form-group">
            <label for="volume">{{localize "DANGERZONE.type-form.audio.volume.label"}}&nbsp;&nbsp;<i class="volume-icon fas fa-volume-down"></i></label>
            <div class="form-fields">
                <input type="range" title="{{localize "DANGERZONE.type-form.audio.volume.label"}}" name="volume" value="{{volume}}" min="0" max="1" step="0.05">
            </div>
        </div>
        <div class="form-group">
            <label for="duration">{{localize "DANGERZONE.type-form.audio.duration.label"}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.audio.duration.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="duration" placeholder="{{localize "DANGERZONE.sec"}}" min="0" step="1" value={{duration}}>
            </div>
        </div>
        <div class="form-group">
            <label for="delay">{{localize "DANGERZONE.type-form.audio.delay.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{delay}}>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>