<form autocomplete="off">
    <div class="tab">
        <p class="notes">{{localize "DANGERZONE.type-form.wall.description"}}</p>
        <div class="form-group">
            <label for="top">{{localize "DANGERZONE.type-form.wall.top.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="top" {{checked data.top}}>
            </div>
        </div>
        <div class="form-group">
            <label for="right">{{localize "DANGERZONE.type-form.wall.right.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="right" {{checked data.right}}>
            </div>
        </div>
        <div class="form-group">
            <label for="bottom">{{localize "DANGERZONE.type-form.wall.bottom.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="bottom" {{checked data.bottom}}>
            </div>
        </div>
        <div class="form-group">
            <label for="left">{{localize "DANGERZONE.type-form.wall.left.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="left" {{checked data.left}}>
            </div>
        </div>
        <div class="form-group">
            <label for="random">{{localize "DANGERZONE.type-form.wall.random.label"}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.wall.random.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="random" {{checked data.random}}>
            </div>
        </div>
        <div class="form-group">
            <label for="move">{{localize "DANGERZONE.type-form.wall.movement.label"}}</label>
            <div class="form-fields">
                <select name="move" value="{{data.move}}" data-dtype="Number"> 
                    {{selectOptions moveTypes selected=data.move localize=true}}
                </select>   
            </div>
        </div>
        <div class="form-group">
            <label for="light">{{localize "DANGERZONE.type-form.wall.light.label"}}</label>
            <div class="form-fields">
                <select name="light" data-action="light" value="{{data.light}}" data-dtype="Number"> 
                    {{selectOptions senseTypes selected=data.light localize=true}}
                </select>  
                <input class="danger-zone-proximity light-proximity {{#if suppressLightProx}}hidden{{/if}}" type="number" name="threshold.light" placeholder="{{localize "DANGERZONE.gridUnits"}}" min="0" value="{{data.threshold.light}}" step="any"/> 
            </div>
        </div>
        <div class="form-group">
            <label for="sense">{{localize "DANGERZONE.type-form.wall.sight.label"}}</label>
            <div class="form-fields">
                <select name="sense" data-action="sense" value="{{data.sense}}" data-dtype="Number"> 
                    {{selectOptions senseTypes selected=data.sense localize=true}}
                </select> 
                <input class="danger-zone-proximity sense-proximity {{#if suppressSenseProx}}hidden{{/if}}" type="number" name="threshold.sight" placeholder="{{localize "DANGERZONE.gridUnits"}}" min="0" value="{{data.threshold.sight}}" step="any"/>    
            </div>
        </div>
        <div class="form-group">
            <label for="sound">{{localize "DANGERZONE.type-form.wall.sound.label"}}</label>
            <div class="form-fields">
                <select name="sound" data-action="sound" value="{{data.sound}}" data-dtype="Number"> 
                    {{selectOptions senseTypes selected=data.sound localize=true}}
                </select>  
                <input class="danger-zone-proximity sound-proximity {{#if suppressSoundProx}}hidden{{/if}}" type="number" name="threshold.sound" placeholder="{{localize "DANGERZONE.gridUnits"}}" min="0" value="{{data.threshold.sound}}" step="any"/>   
            </div>
        </div>
        <div class="form-group">
            <label for="dir">{{localize "DANGERZONE.type-form.wall.direction.label"}}</label>
            <div class="form-fields">
                <select name="dir" value="{{data.dir}}" data-dtype="Number"> 
                    {{selectOptions dirTypes selected=data.dir }}
                </select>   
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.wall.thresholdAttenuation.label"}}</label>
            <input type="checkbox" name="threshold.attenuation" {{checked data.threshold.attenuation}}/>
        </div>
        <div class="form-group">
            <label for="door">{{localize "DANGERZONE.type-form.wall.door.label"}}</label>
            <div class="form-fields">
                <select name="door" data-action="door" value="{{data.door}}" data-dtype="Number"> 
                    {{selectOptions doorTypes selected=data.door localize=true}}
                </select>   
            </div>
        </div>
        <fieldset class="door-options {{#if suppressDoorOptions}}hidden{{/if}}">
            <legend>{{ localize "DANGERZONE.type-form.wall.doorOptions.label" }}</legend>
            <div class="form-group">
                <label>{{ localize "DANGERZONE.type-form.wall.doorState.label" }}</label>
                <div class="form-fields">
                    <select name="ds" data-dtype="Number" value="{{data.ds}}">
                        {{selectOptions doorStates selected=data.ds localize=true}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{ localize "DANGERZONE.type-form.wall.doorSound.label" }}</label>
                <div class="form-fields">
                    <select name="doorSound">
                        {{selectOptions doorSounds selected=data.doorSound labelAttr="label" blank="" localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <legend>{{localize "DANGERZONE.type-form.offset.label"}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.description'}}"><i class="fas fa-info-circle"></i></span>
            </legend>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.x.label"}}</label>
                <div class="form-fields">
                    <select name="offset.x.type" value="{{data.offset.x.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.x.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.x.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.min" step="1" value={{#if data.offset.x.min}}{{data.offset.x.min}}{{else}}0{{/if}}>
                    <label for="offset.x.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.max" step="1" value={{#if data.offset.x.max}}{{data.offset.x.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="offset.x.flip" {{checked data.offset.x.flip}}/>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.y.label"}}</label>
                <div class="form-fields">
                    <select name="offset.y.type" value="{{data.offset.y.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.y.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.y.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.min" step="1" value={{#if data.offset.y.min}}{{data.offset.y.min}}{{else}}0{{/if}}>
                    <label for="offset.y.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.max" step="1" value={{#if data.offset.y.max}}{{data.offset.y.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="offset.y.flip" {{checked data.offset.y.flip}}/>
                </div>
            </div>
        </fieldset>
        <div class="form-group {{#if taggerOnNot}}dz-hidden{{/if}}">
            <label for="tag">{{localize "DANGERZONE.type-form.wall.tag.label"}}</label>
            <div class="form-fields">
                <input type="text" name="tag" placeholder="{{localize "DANGERZONE.type-form.wall.tag.description"}}"  value="{{data.tag}}">
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>