<form class="danger-zone-types" autocomplete="off">
    <div id="danger-zone-type-primary-controls">
        <div class="danger-zone-type-search">
            <div id="danger-zone-type-search-icon"><i class="fas fa-search"></i></div>
            <input id="danger-zone-type-search-input" type="text" name="search" value="{{lastSearch}}" placeholder="{{localize 'DANGERZONE.types-form.search.placeholder'}}" spellcheck="false" autocomplete="off" />
            <button id="danger-zone-type-search-clear" class="hidden" title="{{localize 'DANGERZONE.types-form.search.clear'}}"><i class="fas fa-times"></i></button>
        </div>
        <div class="danger-zone-type-json-export">
            <button id="danger-zone-type-export-config" title="{{localize "DANGERZONE.types-form.export.title"}}"><i class="fas fa-file-export fa-fw"></i></button>  
        </div>
        <div class="danger-zone-type-json-import">
            <button id="danger-zone-type-import-config" title="{{localize "DANGERZONE.types-form.import.title"}}"><i class="fas fa-file-import fa-fw"></i></button>  
        </div>
    </div>
    <div class="tab">
        <div class="danger-zone-types-header flexrow">
            <div class="danger-zone-type-details">
                <div class="name">{{localize 'DANGERZONE.types-form.type.name.label'}}</div>
            </div>
            <div>{{localize 'DANGERZONE.types-form.world.label'}}</div>
            <div class="danger-zone-controls">
                <a class="danger-zone-type-add" title="{{localize 'DANGERZONE.add'}}" data-type="type" data-action="add-zone-type">
                    <i class="fas fa-plus"></i> {{localize 'DANGERZONE.add'}}
                </a>
            </div>
        </div>
        <ol class="danger-zone-types-list">
            {{#each dangerZoneTypes }}
            <li class="type-record flexrow" data-id="{{this.id}}" data-container="types" draggable="true">
                <div class="danger-zone-type-details flexrow">
                    <img src="{{this.icon}}">
                    <div class="name">{{this.name}}</div>
                </div>
                <div>
                    <input type="checkbox" name="{{this.id}}.isActive" data-action="active" data-dtype="Boolean" {{checked this.globalZone.enabled}} />
                </div>
                <div class="danger-zone-controls flexrow">
                    <a class="danger-zone-type-edit" title="{{localize 'DANGERZONE.edit'}}" data-action="edit"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                    <a class="danger-zone-type-copy" title="{{localize 'DANGERZONE.copy'}}" data-action="copy"><i class="fas fa-copy"></i></a>&nbsp;&nbsp;&nbsp;
                    <a class="danger-zone-type-delete" title="{{localize 'DANGERZONE.delete'}}" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
	<footer class="sheet-footer flexrow">
        <p class="notes">{{localize "DANGERZONE.types-form.description"}}</p>
	</footer>
</form>
