<form autocomplete="off">
    <div class="tab">
        <p class="notes">{{localize "DANGERZONE.type-form.backgroundEffect.description"}}</p>
        <div class="form-group">
            <label for="file">{{localize "DANGERZONE.type-form.backgroundEffect.file.label"}}</label>
            <div class="form-fields">
                {{filePicker target="file" type="imagevideo"}}
                <input type="text" required name="file" class="image" placeholder="{{localize "DANGERZONE.type-form.backgroundEffect.file.placeholder"}}" value="{{file}}">
            </div>
        </div>
        <div class="form-group">
            <label for="randomFile">{{localize "DANGERZONE.type-form.backgroundEffect.randomFile.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="randomFile" {{checked randomFile}}>
            </div>
        </div>
        <div class="form-group">
            <label for="scale">{{localize "DANGERZONE.type-form.backgroundEffect.scale.label"}}
                <span class="units">{{localize 'DANGERZONE.ratio'}}</span>
            </label>
            <div class="form-fields">
                <input type="number" required name="scale" min="0.01" max="50" step="0.01" value={{scale}}>
            </div>
        </div>
        <div class="form-group">
            <label for="rotate">{{localize "DANGERZONE.type-form.backgroundEffect.rotate.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="rotate" {{checked rotate}}>
            </div>
        </div>
        <div class="form-group">
            <label for="repeat">{{localize "DANGERZONE.type-form.backgroundEffect.repeat.label"}}</label>
            <div class="form-fields">
                <input type="range" data-dtype="number" name="repeat" value="{{repeat}}" min="0" max="20" step="1">
                <span class="range-value">{{repeat}}</span>    
            </div>
        </div>
        <div class="form-group">
            <label for="duration">{{localize "DANGERZONE.type-form.backgroundEffect.duration.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="number" name="duration" placeholder="{{localize "DANGERZONE.ms"}}" step="1" value={{duration}}>
            </div>
        </div>
        <div class="form-group">
            <label for="delay">{{localize "DANGERZONE.type-form.backgroundEffect.delay.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{delay}}>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>