<div class="tab active danger-part-group" data-tab="visual" data-group="sheet">
   <p class="notes">{{localize "DANGERZONE.type-form.foregroundEffect.description"}}</p>
    <div class="form-group">
        <label for="file">{{localize random.visual.FILE}}</label>
        <div class="form-fields">
            <file-picker name="file" type="imagevideo" class="image" placeholder="{{localize random.visual.PLACEHOLDER}}" value="{{data.file}}"></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label for="randomFile">{{localize random.visual.LABEL}}</label>
        <div class="form-fields">
            <input type="checkbox" data-dtype="Boolean" name="randomFile" {{checked data.randomFile}}>
        </div>
    </div>
    <div class="form-group">
        <label for="scale">{{localize "DANGERZONE.type-form.foregroundEffect.scale.label"}}
            <span class="units">{{localize 'DANGERZONE.ratio'}}</span>
        </label>
        <div class="form-fields">
            <input type="number" required name="scale" min="0.01" max="50" step="0.01" value={{data.scale}}>
        </div>
    </div>
    <div class="form-group">
        <label for="repeat">{{localize "DANGERZONE.type-form.foregroundEffect.repeat.label"}}</label>
        <div class="form-fields">
            <range-picker name="repeat" value="{{data.repeat}}" min="0" max="20" step="1"></range-picker>
        </div>
    </div>
    <div class="form-group">
        <label for="duration">{{localize "DANGERZONE.type-form.foregroundEffect.duration.label"}}</label>
        <div class="form-fields">
            <input type="number" required data-dtype="Number" name="duration" placeholder="{{localize "DANGERZONE.ms"}}" step="1" value={{data.duration}}>
        </div>
    </div>
    <div class="form-group">
        <label for="delay">{{localize "DANGERZONE.type-form.foregroundEffect.delay.label"}}</label>
        <div class="form-fields">
            <input type="number" required data-dtype="Number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{data.delay}}>
        </div>
    </div>
</div>