<form autocomplete="off">
     <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="main"><i class="fas fa-cube"></i>&nbsp;{{localize 'DANGERZONE.type-form.region.tab.main.title'}}</a>
        <a class="item" data-tab="behaviors"><i class="fa-solid fa-child-reaching"></i>&nbsp;{{localize 'DANGERZONE.type-form.region.tab.behaviors.title'}}</a>
    </nav>
    <div class="tab active" data-tab="main">
        <p class="notes">{{localize "DANGERZONE.type-form.region.description"}}</p>
        <div class="form-group">
            <label for="active">{{localize "DANGERZONE.type-form.region.active.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="active" {{checked data.active}}>
            </div>
        </div>
        <div class="form-group">
            <label for="name">{{localize "DANGERZONE.type-form.region.name.label"}}</label>
            <div class="form-fields">
                <input type="text" name="name" value="{{data.name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="color">{{localize "DANGERZONE.type-form.region.color.label"}}</label>
            <div class="form-fields">
                <input type="text" name="color"  min="0.00" step="0.01"  value={{data.color}}>
                <input type="color" value="{{data.color}}" data-edit="color">
            </div>
        </div>
        <div class="form-group">
            <label for="visibility">{{localize "DANGERZONE.type-form.region.visibility.label"}}</label>
            <div class="form-fields">
                <select name="visibility" value="data.visibility" >  
                    {{selectOptions visibilityOps selected=data.visibility localize=true}}
                </select>
             </div>
        </div>
        <div class="form-group">
            <label for="type">{{localize "DANGERZONE.type-form.region.type.label"}}</label>
            <div class="form-fields">
                <select name="type" value="data.type" >  
                    {{selectOptions shapeTypeOps selected=data.type localize=true}}
                </select>
             </div>
        </div>
        <div class="form-group">
            <label for="active">{{localize "DANGERZONE.type-form.region.hole.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="hole" {{checked data.hole}}>
            </div>
        </div>
        <div class="form-group">
            <label for="scale">{{localize "DANGERZONE.type-form.region.scale.label"}}
                <span class="units">{{localize 'DANGERZONE.ratio'}}</span>
            </label>
            <div class="form-fields">
                <input type="number" required name="scale" min="0.01" max="50" step="0.01" value={{#if data.scale}}{{data.scale}}{{else}}1{{/if}}>
            </div>
        </div>
        <fieldset>
            <legend>{{localize "DANGERZONE.type-form.offset.label"}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.description'}}"><i class="fas fa-info-circle"></i></span>
            </legend>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.x.label"}}</label>
                <div class="form-fields">
                    <select name="offset.x.type" value="{{data.offset.x.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.x.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.x.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.min" step="1" value={{#if data.offset.x.min}}{{data.offset.x.min}}{{else}}0{{/if}}>
                    <label for="offset.x.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.max" step="1" value={{#if data.offset.x.max}}{{data.offset.x.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description-image'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="offset.x.flip" value="{{data.offset.x.flip}}"> 
                        {{selectOptions mirrorOps selected=data.offset.x.flip localize=true}}
                    </select>   
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.y.label"}}</label>
                <div class="form-fields">
                    <select name="offset.y.type" value="{{data.offset.y.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.y.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.y.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.min" step="1" value={{#if data.offset.y.min}}{{data.offset.y.min}}{{else}}0{{/if}}>
                    <label for="offset.y.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.max" step="1" value={{#if data.offset.y.max}}{{data.offset.y.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description-image'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="offset.y.flip" value="{{data.offset.y.flip}}"> 
                        {{selectOptions mirrorOps selected=data.offset.y.flip localize=true}}
                    </select>   
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="delay">{{localize "DANGERZONE.type-form.region.delay.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{#if data.delay}}{{data.delay}}{{else}}0{{/if}}>
            </div>
        </div>
        <div class="form-group {{#if taggerOnNot}}dz-hidden{{/if}}">
            <label for="tag">{{localize "DANGERZONE.type-form.region.tag.label"}}</label>
            <div class="form-fields">
                <input type="text" name="tag" placeholder="{{localize "DANGERZONE.type-form.region.tag.description"}}"  value="{{data.tag}}">
            </div>
        </div>
    </div>
     <div class="tab" data-tab="behaviors">
        <fieldset>
            <legend>{{localize "DANGERZONE.type-form.region.behavior.teleport.label"}}</legend>
            <p class="notes">{{localize "DANGERZONE.type-form.region.behavior.teleport.description"}}</p>
            <div class="form-group">
                <label for="behavior.teleport.enable">{{localize "DANGERZONE.type-form.region.behavior.teleport.enable.label"}}</label>
                <div class="form-fields">
                    <input type="checkbox" data-dtype="Boolean" name="behavior.teleport.enable" {{checked data.behavior.teleport.enable}}>
                </div>
            </div>
            <div class="form-group">
                <label for="behavior.teleport.name">{{localize "DANGERZONE.type-form.region.behavior.teleport.name.label"}}</label>
                <div class="form-fields">
                    <input type="text" name="behavior.teleport.name" value="{{data.behavior.teleport.name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="behavior.teleport.choice">{{localize "DANGERZONE.type-form.region.behavior.teleport.choice.label"}}</label>
                <div class="form-fields">
                    <input type="checkbox" data-dtype="Boolean" name="behavior.teleport.choice" {{checked data.behavior.teleport.choice}}>
                </div>
            </div>
            <div class="form-group">
                <label for="behavior.teleport.twin">{{localize "DANGERZONE.type-form.region.behavior.teleport.twin.label"}}</label>
                <div class="form-fields">
                    <input type="checkbox" data-dtype="Boolean" name="behavior.teleport.twin" {{checked data.behavior.teleport.twin}}>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "DANGERZONE.type-form.region.behavior.macro.label"}}</legend>
            <p class="notes">{{localize "DANGERZONE.type-form.region.behavior.macro.description"}}</p>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.region.behavior.macro.events.label"}}</label>
                <div class="form-fields">
                    <multi-select name="behavior.macro.events" value="{{data.behavior.macro.events}}">
                        {{selectOptions eventOps selected=data.behavior.macro.events localize=true}}
                    </multi-select> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.region.behavior.macro.uuid.label"}}</label>
                <div class="form-fields">
                    <select name="behavior.macro.uuid" value="{{data.behavior.macro.uuid}}"> 
                        {{selectOptions macroOps selected=data.behavior.macro.uuid localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label for="behavior.macro.everyone">{{localize "DANGERZONE.type-form.region.behavior.macro.everyone.label"}}</label>
                <div class="form-fields">
                    <input type="checkbox" data-dtype="Boolean" name="behavior.macro.everyone" {{checked data.behavior.macro.everyone}}>
                </div>
            </div>
        </fieldset>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>