<form class="flexcol danger-zone-type-form" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a class="item active" data-tab="main"><i class="fas fa-radiation"></i>&nbsp;{{localize 'DANGERZONE.type-form.tab.main.title'}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-play"></i>&nbsp;{{localize 'DANGERZONE.type-form.tab.effects.title'}}</a>
        <a class="item" data-tab="modules"><i class="fas fa-cube"></i>&nbsp;{{localize 'DANGERZONE.type-form.tab.modules.title'}}</a>
    </nav>
    <section class="content" id="danger-zone-type-form" data-id="{{zone.id}}" >
        <div class="tab" data-tab="main" data-group="primary-tabs">
            <div class="hidden">
                <input type="text" value="{{zone.id}}" name="id">
            </div>
            <div class="form-group main-danger">
                <div class="flexrow one-line dz-sect">
                    <label>
                        <span>{{localize 'DANGERZONE.type-form.name.label'}}</span>
                    </label>
                    <div class="config-value form-fields">
                        <input type="text" name="name" value="{{zone.name}}" maxlength="75" required>
                    </div>
                </div>
                <div class="flexrow one-line dz-sect">
                    <label>
                        <span>{{localize 'DANGERZONE.type-form.icon.label'}}</span>
                    </label>
                    <div class="config-value form-fields">
                        {{filePicker target="icon" type="image"}}
                        <input type="text" name="icon" value="{{zone.icon}}" required>
                    </div>
                </div>
                <div class="flexrow one-line dz-sect">
                    <label>
                        <span>{{localize 'DANGERZONE.type-form.dimensions.label'}}</span>
                    </label>
                    <div class="dimensions flexrow">
                        <label class="dz-left-f">
                            <span>{{localize "DANGERZONE.type-form.area-x.label"}}</span>
                        </label>
                        <div class="dz-num">
                            <input type="number" name="dimensions.units.w" min="1" step="1"  placeholder="{{localize "DANGERZONE.grids"}}" value={{zone.dimensions.units.w}} required>
                        </div>
                        <label class="dz-mid">
                            <span>{{localize "DANGERZONE.type-form.area-y.label"}}</span>
                        </label>
                        <div class="dz-num">
                            <input type="number" name="dimensions.units.h" min="1" step="1" placeholder="{{localize "DANGERZONE.grids"}}" value={{zone.dimensions.units.h}} required>
                        </div>
                        <label class="dz-mid">
                            <span>{{localize "DANGERZONE.type-form.area-z.label"}}</span>
                        </label>
                        <div class="dz-num">
                            <input type="number" name="dimensions.units.d" min="0" step="1" placeholder="{{localize "DANGERZONE.gridUnits"}}" value={{zone.dimensions.units.d}} required>
                        </div>
                        <div class="dz-spacer-50">&nbsp;</div>
                    </div>
                </div>
                <div class="flexrow one-line dz-sect">
                    <label class="dz-left">
                        <span>{{localize 'DANGERZONE.type-form.macro.label'}}</span>
                    </label>
                    <div class="dz-sel-med">
                        <select name="options.macro" value="{{zone.options.macro}}"> 
                            <option value=""></option>  
                            {{selectOptions macroOps selected=zone.options.macro localize=false}}
                        </select>     
                    </div>
                </div>
                <div class="flexrow one-line">
                    <label style="display: inline-block;">
                        <span>{{localize 'DANGERZONE.type-form.active-effect.label'}}</span>
                    </label>
                    <div>
                        <button id="danger-zone-type-active-effect-edit" title="{{localize "DANGERZONE.type-form.active-effect.edit.title"}}"><i class="fas fa-edit"></i></button>  
                        <button id="danger-zone-type-active-effect-delete" title="{{localize "DANGERZONE.type-form.active-effect.delete.title"}}"><i class="fas fa-trash"></i></button>   
                    </div>
                </div>
                <p class="notes">{{localize 'DANGERZONE.type-form.dimensions.notes'}}</p>
                <p class="notes">{{localize 'DANGERZONE.type-form.active-effect.notes'}}</p>
            </div>
            <div class="form-group">
                <h3 class="form-header">
                    <i class="fas fa-music"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.audio.label'}}</span>
                </h3>
                <div class="flexrow">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.audio.file.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <div class="file-picker-wrapper">
                            {{filePicker target="options.audio.file" type="audio"}}
                            <input type="text" name="options.audio.file" value="{{zone.options.audio.file}}">
                        </div>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.audio.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.audio.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.audio.delay}}>
                    </div>
                    <label class="dz-mid">
                        <i class="volume-icon fas fa-volume-down"></i>
                    </label>
                    <div class="dz-range-all">
                        <input type="range" title="{{localize "DANGERZONE.type-form.audio.volume.label"}}" name="options.audio.volume" value="{{zone.options.audio.volume}}" min="0" max="1" step="0.05">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h3 class="form-header">
                    <i class="fas fa-cube"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.tile.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.tile.effect.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <div class="file-picker-wrapper">
                            {{filePicker target="options.lastingEffect.file" type="imagevideo"}}
                            <input type="text" name="options.lastingEffect.file" value="{{zone.options.lastingEffect.file}}">
                        </div>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.tile.scale.label"}}</label>
                    <div class="dz-num">
                        <input type="number" name="options.lastingEffect.scale" value="{{zone.options.lastingEffect.scale}}" min="0.01" max="50" step="0.01">
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.tile.loop.label'}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.lastingEffect.loop" data-dtype="Boolean" {{checked zone.options.lastingEffect.loop}}>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.tile.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.lastingEffect.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.lastingEffect.delay}}>
                    </div>
                </div>
                <div class="flexrow {{#if taggerOnNot}}hidden{{/if}}">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.tile.tag.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <input type="text" name="options.lastingEffect.tag" placeholder="{{localize "DANGERZONE.type-form.tile.tag.description"}}"  value="{{zone.options.lastingEffect.tag}}">
                    </div>
                    <div class="dz-spacer-50">&nbsp;</div>
                </div>
            </div>
            <div  class="form-group ambient-light">
                <h3 class="form-header">
                    <i class="fas fa-lightbulb"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.light.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.light.dimLight.label"}}</span>
                    </label>
                    <div class="dz-num">
                        <input type="number" name="options.ambientLight.dim" min="0.00" step="0.01" placeholder="{{localize "DANGERZONE.gridUnits"}}" value={{zone.options.ambientLight.dim}}>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.light.brightLight.label"}}</span>
                    </label>
                    <div class="dz-num">
                        <input type="number" name="options.ambientLight.bright" min="0.00" step="0.01" placeholder="{{localize "DANGERZONE.gridUnits"}}" value={{zone.options.ambientLight.bright}}>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.light.emission.label'}}</span>
                    </label>
                    <div class="dz-ms">
                        <input type="number" name="options.ambientLight.angle" placeholder="{{localize "DANGERZONE.degrees"}}"  value={{zone.options.ambientLight.angle}} min="0" max="360" step="1">
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.light.rotation.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.ambientLight.rotation" placeholder="{{localize "DANGERZONE.degrees"}}"  value={{zone.options.ambientLight.rotation}} min="0" max="360" step="0">
                    </div> 
                    <div class="dz-spacer-20">&nbsp;</div>
                </div>
                <div class="flexrow dz-sect">   
                    <label class="dz-left-f">{{ localize "DANGERZONE.type-form.light.color.label" }}</label>
                    <div class="dz-input-xs">   
                        <input type="text" name="options.ambientLight.tintColor" value="{{zone.options.ambientLight.tintColor}}">
                    </div>
                    <div class="dz-ms">
                        <input class="light-color-picker" type="color" value="{{zone.options.ambientLight.tintColor}}" data-edit="options.ambientLight.tintColor">
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.light.intensity.label"}}</label>
                    <div class="dz-range">
                        <input type="range" name="options.ambientLight.tintAlpha" value="{{zone.options.ambientLight.tintAlpha}}" min="0.0" max="1.0" step="0.05">
                        <span class="range-value">{{zone.options.ambientLight.tintAlpha}}</span>
                    </div>
                    <div class="dz-spacer-30">&nbsp;</div>
                </div>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize 'DANGERZONE.type-form.light.animation.label'}}</span>
                    </label>
                    <div class="dz-sel-sm">
                        <select name="options.ambientLight.lightAnimation.type" value={{zone.options.ambientLight.lightAnimation.type}}>
                            {{selectOptions lightAnimations selected=zone.options.ambientLight.lightAnimation.type localize=true}}
                        </select>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.light.animationIntensity.label"}}</label>
                    <div class="dz-range">
                        <input type="range" name="options.ambientLight.lightAnimation.intensity" value="{{zone.options.ambientLight.lightAnimation.intensity}}" min="1" max="10" step="1">
                        <span class="range-value">{{zone.options.ambientLight.lightAnimation.intensity}}</span>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.light.speed.label"}}</label>
                    <div class="dz-range">
                        <input type="range" name="options.ambientLight.lightAnimation.speed" value="{{zone.options.ambientLight.lightAnimation.speed}}" min="1" max="10" step="1">
                        <span class="range-value">{{zone.options.ambientLight.lightAnimation.speed}}</span>
                    </div>
                </div>
                <div class="flexrow {{#if taggerOnNot}}hidden{{/if}}">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.light.tag.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <input type="text" name="options.ambientLight.tag" placeholder="{{localize "DANGERZONE.type-form.light.tag.description"}}"  value="{{zone.options.ambientLight.tag}}">
                    </div>
                    <div class="dz-spacer-50">&nbsp;</div>
                </div>
            </div>
            <div  class="form-group wall">
                <h3 class="form-header">
                    <i class="fas fa-university"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.wall.label'}}</span>
                </h3>
                <div class="flexrow">
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.wall.top" {{checked zone.options.wall.top}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.wall.top.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.wall.right" {{checked zone.options.wall.right}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.wall.right.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.wall.bottom" {{checked zone.options.wall.bottom}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.wall.bottom.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.wall.left" {{checked zone.options.wall.left}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.wall.left.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.wall.random" {{checked zone.options.wall.random}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.wall.random.label"}}</span>
                        <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.wall.random.description'}}"><i class="fas fa-info-circle"></i></span>
                    </label>
                </div>
                <h4>
                    <span>{{localize "DANGERZONE.type-form.wall.restrictions.label"}}</span>
                </h4>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">{{localize "DANGERZONE.type-form.wall.movement.label"}}</label>
                    <select class="dz-sel-sm" name="options.wall.move" data-dtype="Number">
                        {{selectOptions moveTypes selected=zone.options.wall.move }}
                    </select>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.wall.sight.label"}}</label>
                    <select class="dz-sel-sm" name="options.wall.sense" data-dtype="Number">
                        {{selectOptions senseTypes selected=zone.options.wall.sense }}
                    </select>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.wall.sound.label"}}</label>
                    <select class="dz-sel-sm" name="options.wall.sound" data-dtype="Number">
                        {{selectOptions senseTypes selected=zone.options.wall.sound }}
                    </select>
                </div>
                <div class="flexrow">
                    <label class="dz-left-f">{{localize "DANGERZONE.type-form.wall.direction.label"}}</label>
                    <select class="dz-sel-sm" name="options.wall.dir" data-dtype="Number">
                        {{selectOptions dirTypes selected=zone.options.wall.dir }}
                    </select>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.wall.door.label"}}</label>
                    <select class="dz-sel-sm" name="options.wall.door" data-dtype="Number">
                        {{selectOptions doorTypes selected=zone.options.wall.door }}
                    </select>
                     <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.wall.tag.label"}}</span>
                    </label>
                    <div class="dz-input-sm">
                        <input type="text" name="options.wall.tag" placeholder="{{localize "DANGERZONE.type-form.wall.tag.description"}}"  value="{{zone.options.wall.tag}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab {{#if sequencerOnNot}}hidden{{/if}}" data-tab="effects" data-group="primary-tabs">
            <div  class="form-group {{#if sequencerOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-fire"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.foregroundEffect.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.foregroundEffect.file.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <div class="file-picker-wrapper">
                            {{filePicker target="options.foregroundEffect.file" type="imagevideo"}}
                            <input type="text" name="options.foregroundEffect.file" value="{{zone.options.foregroundEffect.file}}">
                        </div>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.foregroundEffect.scale.label"}}</label>
                    <div class="dz-num">
                        <input type="number" name="options.foregroundEffect.scale" value="{{zone.options.foregroundEffect.scale}}" min="0.01" max="50" step="0.01" required>
                    </div>
                    <label class="dz-mid"> 
                        <span>{{localize 'DANGERZONE.type-form.foregroundEffect.repeat.label'}}</span>
                    </label>
                    <div class="dz-num">
                        <input type="number" name="options.foregroundEffect.repeat" value={{zone.options.foregroundEffect.repeat}} min="0" max="10" steps="1" required>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.foregroundEffect.duration.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.foregroundEffect.duration" placeholder="{{localize "DANGERZONE.ms"}}" step="1" value={{zone.options.foregroundEffect.duration}} required>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.foregroundEffect.source.enabled" data-dtype="Boolean" {{checked zone.options.foregroundEffect.source.enabled}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize 'DANGERZONE.type-form.foregroundEffect.source.enabled.label'}}</span>
                    </label>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.foregroundEffect.source.name.label"}}</span>
                    </label>
                    <div class="dz-input-ms">
                        <input type="text" name="options.foregroundEffect.source.name" placeholder="{{localize "DANGERZONE.type-form.foregroundEffect.source.name.description"}}"  value="{{zone.options.foregroundEffect.source.name}}">
                    </div>
                    <div class="dz-spacer-20">
                        &nbsp;
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.foregroundEffect.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.foregroundEffect.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.foregroundEffect.delay}} required>
                    </div>
                </div>
            </div>
            <div class="form-group {{#if sequencerOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-wind"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.backgroundEffect.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.backgroundEffect.file.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <div class="file-picker-wrapper">
                            {{filePicker target="options.backgroundEffect.file" type="imagevideo"}}
                            <input type="text" name="options.backgroundEffect.file" value="{{zone.options.backgroundEffect.file}}">
                        </div>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.backgroundEffect.scale.label"}}</label>
                    <div class="dz-num">
                        <input type="number" name="options.backgroundEffect.scale" value="{{zone.options.backgroundEffect.scale}}" min="0.01" max="50" step="0.01">
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.backgroundEffect.repeat.label'}}</span>
                    </label>
                    <div class="dz-num">
                        <input type="number" name="options.backgroundEffect.repeat" value={{ zone.options.backgroundEffect.repeat}} min="0" max="10" step="1">
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.backgroundEffect.duration.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.backgroundEffect.duration" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.backgroundEffect.duration}}>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="dz-spacer-50">&nbsp;</div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.backgroundEffect.rotate.label'}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.backgroundEffect.rotate" data-dtype="Boolean" {{checked zone.options.backgroundEffect.rotate}}>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.backgroundEffect.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.backgroundEffect.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.backgroundEffect.delay}} required>
                    </div>
                </div>
            </div>
            <div  class="form-group {{#if sequencerOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-male"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.tokenEffect.label'}}</span>
                </h3>
                <div class="flexrow">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.tokenEffect.file.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <div class="file-picker-wrapper">
                            {{filePicker target="options.tokenEffect.file" type="imagevideo"}}
                            <input type="text" name="options.tokenEffect.file" value="{{zone.options.tokenEffect.file}}">
                        </div>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.tokenEffect.scale.label"}}</label>
                    <div class="dz-num">
                        <input type="number" name="options.tokenEffect.scale" value="{{zone.options.tokenEffect.scale}}" min="0.01" max="50" step="0.01" required>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.tokenEffect.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.tokenEffect.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.tokenEffect.delay}} required>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.tokenEffect.duration.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.tokenEffect.duration" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.tokenEffect.duration}} required>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-tab="modules" data-group="primary-tabs">
            <div class="form-group {{#if fluidCanvasOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-wind"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.fluidCanvas.label'}}</span>
                </h3>
                <div class="flexrow">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.fluidCanvas.type.label"}}</span>
                    </label>
                    <div class="dz-sel-sm">
                        <select name="options.flags.fluidCanvas.type" value="{{zone.options.flags.fluidCanvas.type}}"> 
                            <option value=""></option>  
                            {{selectOptions fluidCanvasOps selected=zone.options.flags.fluidCanvas.type localize=false}}
                        </select>   
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.fluidCanvas.delay.label'}}</span>
                    </label>
                    <div class="dz-ms">
                        <input type="number" min="0" step="1"  name="options.flags.fluidCanvas.delay" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.options.flags.fluidCanvas.delay}}>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.fluidCanvas.intensity.label'}}</span>
                    </label>
                    <div class="dz-num">
                        <input type="number" min="0" step="1"  name="options.flags.fluidCanvas.intensity" value={{zone.options.flags.fluidCanvas.intensity}}>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.fluidCanvas.iteration.label"}}</label>
                    <div class="dz-num">
                        <input type="number" name="options.flags.fluidCanvas.iteration" min="0" step="1" value={{zone.options.flags.fluidCanvas.iteration}}>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.fluidCanvas.duration.label"}}</span>
                    </label>
                    <div class="dz-ms">
                        <input type="number" name="options.flags.fluidCanvas.duration" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{zone.options.flags.fluidCanvas.duration}}>
                    </div>
                </div>
                <p class="notes">{{localize 'DANGERZONE.type-form.fluidCanvas.notes'}}</p>
            </div>
            <div class="form-group {{#if monksActiveTilesOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-running"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.monks-active-tiles.label'}}</span>
                </h3>
                <h4>
                    <span>{{localize "DANGERZONE.type-form.monks-active-tiles.macro.label"}}</span>
                </h4>
                <div class="flexrow">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.macro.macro.label"}}</span>
                    </label>
                    <div class="dz-sel-ms">
                        <select name="options.flags.monks-active-tiles.macro.macroid" value="{{zone.options.flags.monks-active-tiles.macro.macroid}}"> 
                            <option value=""></option>  
                            {{selectOptions macroOps selected=zone.options.flags.monks-active-tiles.macro.macroid localize=false}}
                        </select>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.macro.args.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <input type="text" name="options.flags.monks-active-tiles.macro.args" value="{{zone.options.flags.monks-active-tiles.macro.args}}">
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.monks-active-tiles.macro.after.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.flags.monks-active-tiles.macro.after" placeholder="{{localize "DANGERZONE.sec"}}" min="0" value={{zone.options.flags.monks-active-tiles.macro.after.delay}}>
                    </div>
                </div>
                <h4>
                    <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.label"}}</span>
                </h4>
                <div class="flexrow">
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.monks-active-tiles.teleport.add" {{checked zone.options.flags.monks-active-tiles.teleport.add}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.add.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.monks-active-tiles.teleport.twin" {{checked zone.options.flags.monks-active-tiles.teleport.twin}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.twin.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.monks-active-tiles.teleport.source" {{checked zone.options.flags.monks-active-tiles.teleport.source}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.source.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.monks-active-tiles.teleport.pan" {{checked zone.options.flags.monks-active-tiles.teleport.pan}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.pan.label"}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.monks-active-tiles.teleport.avoid" {{checked zone.options.flags.monks-active-tiles.teleport.avoid}}>
                    </div>
                    <label class="dz-mid-r">
                        <span>{{localize "DANGERZONE.type-form.monks-active-tiles.teleport.avoid.label"}}</span>
                    </label>
                </div>
                <p class="notes">{{localize 'DANGERZONE.type-form.monks-active-tiles.notes'}}</p>
            </div>
            <div class="form-group {{#if tokenSaysOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-comment"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.token-says.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.token-says.rule-type.label"}}</span>
                    </label>
                    <div class="dz-sel-med">
                        <select name="options.flags.tokenSays.fileType" value="{{zone.options.flags.tokenSays.fileType}}">  
                            <option value=""></option>  
                            {{selectOptions tokenSaysOps selected=zone.options.flags.tokenSays.fileType localize=true}}
                        </select>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.token-says.compendium.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <input type="text" name="options.flags.tokenSays.compendiumName" value="{{zone.options.flags.tokenSays.compendiumName}}">
                    </div>
                </div>
                <div class="flexrow">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.token-says.source.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <input type="text" name="options.flags.tokenSays.fileName" value="{{zone.options.flags.tokenSays.fileName}}">
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.token-says.says.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <input type="text" name="options.flags.tokenSays.fileTitle" value="{{zone.options.flags.tokenSays.fileTitle}}">
                    </div>
                </div>
                <p class="notes">{{localize 'DANGERZONE.type-form.token-says.notes'}}</p>
            </div>
            <div class="form-group {{#if warpgateOnNot}}hidden{{/if}}">
                <h3 class="form-header">
                    <i class="fas fa-circle-notch"></i>
                    <span>&nbsp;&nbsp;{{localize 'DANGERZONE.type-form.warpgate.label'}}</span>
                </h3>
                <div class="flexrow dz-sect">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.warpgate.actor.label"}}</span>
                    </label>
                    <div class="dz-input">
                        <input type="text" name="options.flags.warpgate.actor" value="{{zone.options.flags.warpgate.actor}}">
                    </div>
                    <label class="dz-mid">
                        <span>{{localize 'DANGERZONE.type-form.warpgate.isRolltable.label'}}</span>
                    </label>
                    <div class="dz-checkbox">
                        <input type="checkbox" name="options.flags.warpgate.isRolltable" {{checked zone.options.flags.warpgate.isRolltable}}>
                    </div>
                    <label class="dz-mid">
                        <span>{{localize "DANGERZONE.type-form.warpgate.duplicates.label"}}</span>
                    </label>
                    <div class="dz-ms">
                        <input type="number" name="options.flags.warpgate.duplicates" min="1" max="20" step="1" value={{zone.options.flags.warpgate.duplicates}}>
                    </div>
                    <label class="dz-mid">{{localize "DANGERZONE.type-form.warpgate.delay.label"}}</label>
                    <div class="dz-ms">
                        <input type="number" name="options.flags.warpgate.delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" value={{zone.options.flags.warpgate.delay}}>
                    </div>
                </div>
                <div class="flexrow {{#if taggerOnNot}}hidden{{/if}}">
                    <label class="dz-left-f">
                        <span>{{localize "DANGERZONE.type-form.warpgate.tag.label"}}</span>
                    </label>
                    <div class="dz-input-lg">
                        <input type="text" name="options.flags.warpgate.tag" placeholder="{{localize "DANGERZONE.type-form.warpgate.tag.description"}}"  value="{{zone.options.ambientLight.tag}}">
                    </div>
                    <div class="dz-spacer-50">&nbsp;</div>
                </div>
                <p class="notes">{{localize 'DANGERZONE.type-form.warpgate.notes'}}</p>
            </div>
        </div>
    </section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
	</footer>
</form>