<div class="tab danger-part-group" data-tab="boundary" data-group="sheet">
        <div class="form-group">
        <label>
            {{localize 'DANGERZONE.type-form.globalZone.bottom.label'}}
        </label>
        <div class="form-fields">
            <input type="Number" name="dimensions.bottom" step="1" value={{#if zone.dimensions.bottom}}{{zone.dimensions.bottom}}{{else}}0{{/if}}>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'DANGERZONE.type-form.globalZone.top.label'}}
        </label>
        <div class="form-fields">
            <input type="Number" name="dimensions.top" step="1" value={{#if zone.dimensions.top}}{{zone.dimensions.top}}{{else}}0{{/if}}>
        </div>
    </div>
    <div class="form-group">
        <label for="dimensions.bleed">{{localize 'DANGERZONE.edit-form.bleed.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.bleed.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input type="checkbox" name="dimensions.bleed" {{checked zone.dimensions.bleed}} />
        </div>
    </div>
    <div class="form-group">
        <label for="dimensions.stretch">{{localize 'DANGERZONE.edit-form.stretch.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.stretch.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <select name="dimensions.stretch" value="{{zone.dimensions.stretch}}">
                {{selectOptions zoneOptions.STRETCH selected=zone.dimensions.stretch localize=true}}
            </select>
        </div>
    </div>
</div>