<form autocomplete="off">
     <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="basics"><i class="fas fa-radiation"></i>&nbsp;{{localize 'DANGERZONE.edit-form.basics.label'}}</a>
        <a class="item" data-tab="dimensions"><i class="fas fa-ruler"></i>&nbsp;{{localize 'DANGERZONE.edit-form.boundary.label'}}</a>
        <a class="item" data-tab="trigger"><i class="fas fa-play"></i>&nbsp;{{localize 'DANGERZONE.edit-form.trigger.label'}}</a>
        <a class="item" data-tab="source"><i class="fas fa-dragon"></i>&nbsp;{{localize 'DANGERZONE.edit-form.source.label'}}</a>
        <a class="item" data-tab="target"><i class="fas fa-bullseye"></i>&nbsp;{{localize 'DANGERZONE.edit-form.token-targeting.label'}}</a>
        <a class="item" data-tab="clear"><i class="fas fa-eraser"></i>&nbsp;{{localize 'DANGERZONE.edit-form.clear.label'}}</a>
    </nav>
    <div class="tab active" data-tab="basics">
        <p class="notes">{{localize "DANGERZONE.type-form.global-zone.description"}}</p>
        <div class="form-group">
            <label for="enabled">{{localize 'DANGERZONE.edit-form.enabled.label'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="enabled" {{checked zone.enabled}} />
            </div>
        </div>
        <div class="form-group flexrow">
            <label for="flavor">{{localize 'DANGERZONE.edit-form.flavor.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.flavor.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
                <div class="form-fields">
                <input type="text" name="flavor" value="{{zone.flavor}}">
            </div>
        </div>
    </div>
    <div class="tab" data-tab="dimensions">
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.type-form.global-zone.bottom.label'}}
            </label>
            <div class="form-fields">
                <input type="Number" name="dimensions.bottom" step="1" value={{#if zone.dimensions.bottom}}{{zone.dimensions.bottom}}{{else}}0{{/if}}>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.type-form.global-zone.top.label'}}
            </label>
            <div class="form-fields">
                <input type="Number" name="dimensions.top" step="1" value={{#if zone.dimensions.top}}{{zone.dimensions.top}}{{else}}0{{/if}}>
            </div>
        </div>
        <div class="form-group">
            <label for="dimensions.bleed">{{localize 'DANGERZONE.edit-form.bleed.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.bleed.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="dimensions.bleed" {{checked zone.dimensions.bleed}} />
            </div>
        </div>
        <div class="form-group">
            <label for="dimensions.stretch">{{localize 'DANGERZONE.edit-form.stretch.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.stretch.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="dimensions.stretch" value="{{zone.dimensions.stretch}}">
                    {{selectOptions stretchOps selected=zone.dimensions.stretch localize=true}}
                </select>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="trigger"> 
        <div class="form-group">
            <label for="trigger.loop">{{localize 'DANGERZONE.edit-form.loop.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.loop.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="range" name="trigger.loop" value="{{#if zone.trigger.loop}}{{zone.trigger.loop}}{{else}}1{{/if}}" min="1" max="20" step="1" data-action="loop-change"/>
                <span class="range-value">{{#if zone.trigger.loop}}{{zone.trigger.loop}}{{else}}1{{/if}}</span>
            </div>
        </div>
        <div class="form-group{{#if hideOperation}} dz-hidden{{/if}}" id="dz-operation" >
            <label>
                {{localize 'DANGERZONE.edit-form.operation.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.operation.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="trigger.operation" value="{{zone.trigger.operation}}">
                    {{selectOptions operationOps selected=zone.trigger.operation localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.delay.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.delay.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <div class="form-group">
                    <label>
                        {{localize 'DANGERZONE.edit-form.delay.min.label'}}
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="options.trigger.delay.min" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{#if zone.options.trigger.delay.min}}{{zone.options.trigger.delay.min}}{{else}}0{{/if}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>{{localize 'DANGERZONE.edit-form.delay.max.label'}}</span>
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="options.trigger.delay.max" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{#if zone.options.trigger.delay.max}}{{zone.options.trigger.delay.max}}{{else}}0{{/if}} required>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="tab" data-tab="source">
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.source.actor.label'}}</legend>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select name="source.actors" value="{{zone.source.actors}}">
                        {{selectOptions actorOps selected=zone.source.actors}}
                    </multi-select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="tab" data-tab="target">
        <div class="form-group">
            <label for="options.placeTemplate">{{localize 'DANGERZONE.edit-form.placeTemplate.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.placeTemplate.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.choose.enable" {{checked zone.target.choose.enable}} data-action="template-toggle"/>
            </div>
        </div>
        <div class="form-group">
            <label for="options.noPrompt">{{localize 'DANGERZONE.edit-form.promptElevation.label'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="target.choose.prompt" {{checked zone.target.choose.prompt}} />
            </div>
        </div>
        <div class="form-group">
            <label for="options.allInArea">{{localize 'DANGERZONE.edit-form.allInArea.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.allInArea.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.all" {{checked zone.target.all}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.runUntilTokenFound.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.runUntilTokenFound.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.always" {{checked zone.target.always}} />
            </div>
        </div>
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.actor.label'}}</legend>
            <div class="form-fields actor-select">
                <multi-select name="target.actors" value="{{zone.target.actors}}">
                    {{selectOptions actorOps selected=zone.target.actors}}
                </multi-select>
            </div>
        </fieldset> 
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.token-disposition.label'}}</legend>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select name="target.dispositions" value="{{zone.target.dispositions}}">
                        {{selectOptions tokenDispositionOps selected=zone.target.dispositions localize=true}}
                    </multi-select>
                </div>
            </div>
        </fieldset> 
    </div>
    <div class="tab" data-tab="clear">
         <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.light.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.light.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.light" value="{{zone.replace.light}}">
                    {{selectOptions lightReplaceOps selected=zone.replace.light localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.tile" value="{{zone.replace.tile}}">
                    {{selectOptions replaceOps selected=zone.replace.tile localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.region.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.region.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.region" value="{{zone.replace.region}}">
                    {{selectOptions regionReplaceOps selected=zone.replace.region localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.sound.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.sound.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.sound" value="{{zone.replace.sound}}">
                    {{selectOptions soundReplaceOps selected=zone.replace.sound localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.wall.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.wall.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.wall" value="{{zone.replace.wall}}">
                    {{selectOptions wallReplaceOps selected=zone.replace.wall localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.weather.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.weather.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.weather" value="{{zone.replace.weather}}">
                    {{selectOptions weatherReplaceOps selected=zone.replace.weather localize=true}}
                </select>
            </div>
        </div>
    </div>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
	</footer>
</form>