<form autocomplete="off">
    <div class="tab">
        <p class="notes">{{localize "DANGERZONE.type-form.sound.description"}}</p>
        <div class="form-group">
            <label for="randomFile">{{localize "DANGERZONE.type-form.sound.random.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-action="random" data-dtype="Boolean" name="randomFile" {{checked data.randomFile}}>
            </div>
        </div>
        <div id="dz-sound-file" class="form-group {{#if randomFile}}hidden-picker{{/if}}">
            <label for="file">{{#if randomFile}}{{localize "DANGERZONE.type-form.sound.playlist.label"}}{{/if}}{{#unless data.randomFile}}{{localize "DANGERZONE.type-form.sound.file.label"}}{{/unless}}</label>
            <div class="form-fields">
                {{filePicker target="file" type="sound"}}
                <input type="text" required  name="file" class="image" placeholder="{{#unless data.randomFile}}{{localize "DANGERZONE.type-form.sound.file.placeholder"}}{{/unless}}" value="{{data.file}}">
            </div>
        </div>
        <div class="form-group">
            <label for="volume">{{localize "DANGERZONE.type-form.sound.volume.label"}}&nbsp;&nbsp;<i class="volume-icon fas fa-volume-down"></i></label>
            <div class="form-fields">
                <input type="range" title="{{localize "DANGERZONE.type-form.sound.volume.label"}}" name="volume" value="{{data.volume}}" min="0" max="1" step="0.05">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.sound.radius.label" }} 
                <span class="units">{{localize "DANGERZONE.gridUnits" }} </span>
            </label>
            <div class="form-fields">
                <input type="number" name="radius" value="{{data.radius}}" step="any"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.sound.easing.label"}}</label>
            <input type="checkbox" name="easing" {{checked data.easing}}/>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.sound.walls.label"}}</label>
            <input type="checkbox" name="walls" {{checked data.walls}}/>
        </div>
        <hr>
        <fieldset>
            <legend>{{localize "DANGERZONE.type-form.offset.label"}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.description'}}"><i class="fas fa-info-circle"></i></span>
            </legend>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.x.label"}}</label>
                <div class="form-fields">
                    <select name="offset.x.type" value="{{data.offset.x.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.x.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.x.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.min" step="1" value={{#if data.offset.x.min}}{{data.offset.x.min}}{{else}}0{{/if}}>
                    <label for="offset.x.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.x.max" step="1" value={{#if data.offset.x.max}}{{data.offset.x.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="offset.x.flip" {{checked data.offset.x.flip}}/>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.y.label"}}</label>
                <div class="form-fields">
                    <select name="offset.y.type" value="{{data.offset.y.type}}"> 
                        {{selectOptions offsetOps selected=data.offset.y.type localize=true}}
                    </select>   
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-fields">  
                    <label for="offset.y.min">{{localize "DANGERZONE.type-form.offset.min.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.min" step="1" value={{#if data.offset.y.min}}{{data.offset.y.min}}{{else}}0{{/if}}>
                    <label for="offset.y.max">{{localize "DANGERZONE.type-form.offset.max.label"}}</label>
                    <input type="number" required data-dtype="Number" name="offset.y.max" step="1" value={{#if data.offset.y.max}}{{data.offset.y.max}}{{else}}0{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DANGERZONE.type-form.offset.flip.label"}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.type-form.offset.flip.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="offset.y.flip" {{checked data.offset.y.flip}}/>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="delay">{{localize "DANGERZONE.type-form.sound.delay.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{data.delay}}>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>