<form class="flexcol danger-zone-record" autocomplete="off">
    <section id="danger-zone-record">
        <div>
            <div class="hidden">
                <input type="text" value="{{zone.id}}" name="zoneId"/>
            </div>
            <div class="hidden">
                <input type="text" value="{{zone.scene.sceneId}}" name="scene.sceneId"/>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.title.label'}}</span>
                </label>
                <div class="form-fields">
                    <input type="text" name="title" value="{{zone.title}}" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="flexrow type-select-label">
                    <label>
                        <span>{{localize 'DANGERZONE.edit-form.type.label'}}</span>
                    </label>
                    <a class="render-zone-types" title="{{localize 'DANGERZONE.edit-form.types.add'}}" data-action="render-zone-types">
                        <i class="fas fa-eye"></i> {{localize 'DANGERZONE.view'}}
                    </a>
                </div>
                <div class="flexrow form-fields type-select">
                    <select name="type" value="{{zone.type}}" required>
                        {{selectOptions zoneTypeOps selected=zone.type localize=true}}
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <h3>
                    <i class="fas fa-ruler"></i>&nbsp;
                    <span>{{localize 'DANGERZONE.edit-form.boundary.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.boundary.description'}}"><i class="fas fa-info-circle"></i></span>
                </h3>
            </div>
            <div class="form-group">
                <div class="form-fields flexrow">
                    <button type="button" data-action="location-picker" title="{{localize 'DANGERZONE.location-picker'}}" class="location-picker">
                        <i class="fas fa-crosshairs fa-sm"></i>
                    </button>
                    <label class="boundary-start-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.start.label'}}</span>
                    </label>
                    <label class="boundary-xUnits-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.x.label'}}</span>
                    </label>
                    <div class="boundary-x">
                        <input type="Number" name="scene.start.x" min="0" step="any" value={{zone.scene.start.x}} required>
                    </div>
                    <label class="boundary-y-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.y.label'}}</span>
                    </label>
                    <div class="boundary-y">
                        <input type="Number" name="scene.start.y" min="0" step="any" value={{zone.scene.start.y}} required>
                    </div>
                    <label class="boundary-end-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.end.label'}}</span>
                    </label>
                    <label class="boundary-x-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.x.label'}}</span>
                    </label>
                    <div class="boundary-x">
                        <input type="Number" name="scene.end.x" min="1" step="any" value={{zone.scene.end.x}} required>
                    </div>
                    <label class="boundary-y-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.y.label'}}</span>
                    </label>
                    <div class="boundary-y">
                        <input type="Number" name="scene.end.y" min="1" step="any" value={{zone.scene.end.y}} required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-fields flexrow">
                    <label class="boundary-bottom-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.bottom.label'}}</span>
                    </label>
                    <div class="boundary-z">
                        <input type="Number" name="scene.start.z" step="1" value={{zone.scene.start.z}} required>
                    </div>
                    <label class="boundary-top-label">
                        <span>{{localize 'DANGERZONE.edit-form.boundary.top.label'}}</span>
                    </label>
                    <div class="boundary-z">
                        <input type="Number" name="scene.end.z" step="1" value={{zone.scene.end.z}} required>
                    </div>
                </div>
            </div>
            <div class="form-group flexrow">
                <div class="checkbox-value">
                    <input type="checkbox" name="options.bleed" {{checked zone.options.bleed}} />
                </div>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.bleed.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.bleed.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.stretch.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.stretch.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="options.stretch" value="{{zone.options.stretch}}">
                        {{selectOptions stretchOps selected=zone.options.stretch localize=true}}
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <h3>
                    <i class="fas fa-play"></i>&nbsp;
                    <span>{{localize 'DANGERZONE.edit-form.trigger.label'}}</span>
                </h3>
                <div class="form-fields">
                    <select id="dz-trigger-value" name="trigger" value="{{zone.trigger}}" data-action="trigger-select">
                        {{selectOptions triggerOps selected=zone.trigger localize=true}}
                    </select>
                </div>
                <label id="dz-initiative-label" class="initiative-label {{#if hideInit}}hidden{{/if}}">
                    <span>{{localize 'DANGERZONE.edit-form.initiative-count.label'}}</span>
                </label>
                <div id="dz-initiative" class="initiative {{#if hideInit}}hidden{{/if}}">
                    <input type="Number" name="initiative" step="1" value="{{zone.initiative}}" placeholder="{{localize 'DANGERZONE.edit-form.initiative-count.label'}}" required>
                </div>
            </div>
            <div class="form-group flexrow">
                <div class="flexrow">
                    <input class="random" type="checkbox" name="random" {{checked zone.random}} />
                    <label>
                        <i class="fas fa-radiation-alt"></i>
                        <span>&nbsp;&nbsp;{{localize 'DANGERZONE.edit-form.random.label'}}</span>
                        <span class="toolt" title="{{localize 'DANGERZONE.edit-form.random.description'}}"><i class="fas fa-info-circle"></i></span>
                    </label>
                    <label class="weight-label">
                        <span>{{localize 'DANGERZONE.edit-form.weight.label'}}</span>
                    </label>
                    <div class="weight">
                        <input type="Number" name="weight" min="1" step="1" value={{zone.weight}} required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.loop.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.loop.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="range" name="loop" value="{{zone.loop}}" min="1" max="20" step="1"/>
                    <span class="range-value">{{zone.loop}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.likelihood.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.likelihood.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="range" name="likelihood" value="{{zone.likelihood}}" min="1" max="100" step="1"/>
                    <span class="range-value">{{zone.likelihood}}</span>
                </div>
            </div>
            <div class="form-group flexrow">
                <div class="checkbox-value">
                    <input type="checkbox" name="options.placeTemplate" {{checked zone.options.placeTemplate}} />
                </div>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.placeTemplate.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.placeTemplate.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
            </div>
            <hr>
            <h3>
                <i class="fas fa-users"></i>&nbsp;
                <span>{{localize 'DANGERZONE.edit-form.token-targeting.label'}}</span>
            </h3>
            <div class="form-group flexrow">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.token-disposition.label'}}</span>
                </label>
                <div class="form-fields">
                    <select name="tokenDisposition" value="{{zone.tokenDisposition}}">
                        <option value="">{{localize 'DANGERZONE.token-disposition.all.label'}}</option>
                        {{selectOptions tokenDispositionOps selected=zone.tokenDisposition localize=true}}
                    </select>
                </div>
            </div>
            <div class="form-group flexrow">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.actor.label'}}</span>
                </label>
                <div class="form-fields actor-select">
                    <select name="actor" value="{{zone.actor}}">
                        {{selectOptions actorOps selected=zone.actor}}
                    </select>
                </div>
            </div>
            <div class="form-group flexrow">
                <div class="checkbox-value">
                    <input type="checkbox" name="options.allInArea" {{checked zone.options.allInArea}} />
                </div>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.allInArea.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.allInArea.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="checkbox-value">
                    <input type="checkbox" name="options.runUntilTokenFound" {{checked zone.options.runUntilTokenFound}} />
                </div>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.runUntilTokenFound.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.runUntilTokenFound.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
            </div>
            <hr>
            <h3>
                <i class="fas fa-cog"></i>&nbsp;
                <span>{{localize 'DANGERZONE.edit-form.other.label'}}</span>
                <span class="toolt" title="{{localize 'DANGERZONE.edit-form.single-run.description'}}"><i class="fas fa-info-circle"></i></span>
            </h3>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.replace.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.replace.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="replace" value="{{zone.replace}}">
                        {{selectOptions replaceOps selected=zone.replace localize=true}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.light.replace.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.light.replace.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="lightReplace" value="{{zone.lightReplace}}">
                        {{selectOptions lightReplaceOps selected=zone.lightReplace localize=true}}
                    </select>
                </div>
            </div>
            <div class="form-group flexrow">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.flavor.label'}}</span>
                    <span class="toolt" title="{{localize 'DANGERZONE.edit-form.flavor.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                 <div class="form-fields">
                    <input type="text" name="flavor" value="{{zone.flavor}}">
                </div>
            </div>
            <div class="form-group flexrow">
                <div class="checkbox-value">
                    <input type="checkbox" name="enabled" {{checked zone.enabled}} />
                </div>
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.enabled.label'}}</span>
                </label>
            </div>
        </div> 
    </section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
	</footer>
</form>