<div class="tab danger-part-group" data-tab="audio" data-group="sheet">
    <div class="form-group">
        <label for="audio.randomFile">{{localize "DANGERZONE.type-form.backgroundEffect.audio.random.label"}}</label>
        <div class="form-fields">
            <input type="checkbox" id="dz-danger-part-background-effect-random-audio" data-action="random" data-dtype="Boolean" name="audio.randomFile" {{checked data.audio.randomFile}}>
        </div>
    </div>
    <div id="dz-backgroundEffect-audio-file" class="form-group {{#if audio.randomFile}}hidden-picker{{/if}}">
        <label for="audio.file">{{#if randomFile}}{{localize "DANGERZONE.type-form.backgroundEffect.audio.playlist.label"}}{{/if}}{{#unless data.audio.randomFile}}{{localize "DANGERZONE.type-form.backgroundEffect.audio.file.label"}}{{/unless}}</label>
        <div class="form-fields">
            <file-picker name="audio.file" type="audio" class="image" placeholder="{{#unless audio.randomFile}}{{localize "DANGERZONE.type-form.backgroundEffect.audio.file.placeholder"}}{{/unless}}" value="{{data.audio.file}}"></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label for="audio.volume">{{localize "DANGERZONE.type-form.backgroundEffect.audio.volume.label"}}&nbsp;&nbsp;<i class="volume-icon fas fa-volume-down"></i></label>
        <div class="form-fields">
            <input type="range" title="{{localize "DANGERZONE.type-form.backgroundEffect.audio.volume.label"}}" name="audio.volume" value="{{data.audio.volume}}" min="0" max="1" step="0.05">
        </div>
    </div>
</div>
    
    