<form autocomplete="off">
     <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="basics"><i class="fas fa-radiation"></i>&nbsp;{{localize 'DANGERZONE.edit-form.basics.label'}}</a>
        <a class="item" data-tab="dimensions"><i class="fas fa-ruler"></i>&nbsp;{{localize 'DANGERZONE.edit-form.boundary.label'}}</a>
        <a class="item" data-tab="trigger"><i class="fas fa-play"></i>&nbsp;{{localize 'DANGERZONE.edit-form.trigger.label'}}</a>
        <a class="item" data-tab="source"><i class="fas fa-dragon"></i>&nbsp;{{localize 'DANGERZONE.edit-form.source.label'}}</a>
        <a class="item" data-tab="target"><i class="fas fa-bullseye"></i>&nbsp;{{localize 'DANGERZONE.edit-form.token-targeting.label'}}</a>
        <a class="item" data-tab="clear"><i class="fas fa-eraser"></i>&nbsp;{{localize 'DANGERZONE.edit-form.clear.label'}}</a>
        <a class="item" data-tab="extend"><i class="fas fa-link"></i>&nbsp;{{localize 'DANGERZONE.edit-form.extend.label'}}</a>
   </nav>
    <div class="tab active" data-tab="basics">
        <p class="notes{{#if hideWorld}} dz-hidden{{/if}}">{{localize "DANGERZONE.edit-form.convert-global.notes"}}</p>
        <div class="dz-hidden">
            <input type="text" value="{{zone.id}}" name="zoneId"/>
        </div>
        <div class="dz-hidden">
            <input type="text" value="{{zone.scene.sceneId}}" name="scene.sceneId"/>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.title.label'}}
            </label>
            <div class="form-fields">
                <input type="text" name="title" value="{{zone.title}}" required/>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.type.label'}}
                &nbsp;
                <a class="render-zone-types" title="{{localize 'DANGERZONE.edit-form.types.add'}}" data-action="render-zone-types">
                    <i class="fas fa-eye"></i> {{localize 'DANGERZONE.view'}}
                </a>
            </label>
            <div class="form-fields">
                <select name="dangerId" value="{{zone.dangerId}}" required>
                    {{selectOptions zoneTypeOps selected=zone.dangerId localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'DANGERZONE.edit-form.enabled.label'}}</span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="enabled" {{checked zone.enabled}} />
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.flavor.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.flavor.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="text" name="flavor" value="{{zone.flavor}}">
            </div>
        </div>
    </div>
    <div class="tab" data-tab="dimensions">
        <p class="notes">{{localize 'DANGERZONE.edit-form.boundary.description'}}</p>
        <div class="form-group" >
            <label>
                {{localize 'DANGERZONE.edit-form.region.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.region.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="scene.regionId" value="{{zone.scene.regionId}}">
                    {{selectOptions regionOps selected=zone.scene.regionId localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.bleed.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.bleed.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="dimensions.bleed" {{checked zone.dimensions.bleed}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.stretch.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.stretch.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="dimensions.stretch" value="{{zone.dimensions.stretch}}">
                    {{selectOptions stretchOps selected=zone.dimensions.stretch localize=true}}
                </select>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="trigger">        
        <p class="notes">{{localize 'DANGERZONE.edit-form.trigger.description'}}</p>
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.events.label'}}</legend>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select id="dz-trigger-value" name="trigger.events" value="{{zone.trigger.events}}" data-action="trigger-select">
                        {{selectOptions eventOps selected=zone.trigger.events localize=true}}
                    </multi-select>
                </div>
            </div>
            <div id="dz-initiative" class="form-group {{#if hideInit}}dz-hidden{{/if}}">
                <label>
                    {{localize 'DANGERZONE.edit-form.initiative-count.label'}}
                </label>
                <div class="form-fields">
                    <input type="Number" name="trigger.initiative" step="1" value="{{zone.trigger.initiative}}" placeholder="{{localize 'DANGERZONE.edit-form.initiative-count.label'}}" required>
                </div>
            </div>
            <div class="form-group {{#if hideTargetCombatant}}dz-hidden{{/if}}" id="dz-combatantInZone">
                <label>
                    {{localize 'DANGERZONE.edit-form.combatantInZone.label'}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.combatantInZone.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="trigger.combatantInZone" {{checked zone.trigger.combatantInZone}}/>
                </div>
            </div>
            <div class="form-group {{#if hideTriggerMovementWait}} dz-hidden{{/if}}" id="dz-trigger-movement-wait">
                <label>
                    {{localize 'DANGERZONE.edit-form.trigger.movement.wait.label'}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.trigger.movement.wait.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="trigger.movement.wait" {{checked zone.trigger.movement.wait}}/>
                </div>
            </div>
            <div class="form-group {{#if hideTriggerChat}} dz-hidden{{/if}}" id="dz-trigger-chat-phrases">
                <label>
                    {{localize 'DANGERZONE.edit-form.trigger.chat.phrases.label'}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.trigger.chat.phrases.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <string-tags name="trigger.chat.phrases" value="{{zone.trigger.chat.phrases}}"></string-tags>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.promptTrigger.label'}}
                 <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.promptTrigger.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="trigger.prompt" {{checked zone.trigger.prompt}}/>
            </div>
        </div>
        <div class="form-group">
            <label>
                <i class="fas fa-radiation-alt"></i>
                &nbsp;{{localize 'DANGERZONE.edit-form.random.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.random.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-group">  
                <div class="form-group">
                    <input class="random" type="checkbox" name="trigger.random" {{checked zone.trigger.random}} data-action="random-toggle"/>
                </div>
                <div class="form-group {{#if hideWeight}}dz-hidden{{/if}}" id="dz-random-weight">
                    <label>
                        {{localize 'DANGERZONE.edit-form.weight.label'}}
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="trigger.weight" min="1" step="1" value={{zone.trigger.weight}} required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.likelihood.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.likelihood.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="range" name="trigger.likelihood" value="{{zone.trigger.likelihood}}" min="1" max="100" step="1"/>
                <span class="range-value">{{zone.trigger.likelihood}}</span>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.loop.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.loop.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="range" name="trigger.loop" value="{{zone.trigger.loop}}" min="1" max="20" step="1" data-action="loop-change"/>
                <span class="range-value">{{zone.trigger.loop}}</span>
            </div>
        </div>
        <div class="form-group{{#if hideOperation}} dz-hidden{{/if}}" id="dz-operation" >
            <label>
                {{localize 'DANGERZONE.edit-form.operation.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.operation.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="trigger.operation" value="{{zone.trigger.operation}}">
                    {{selectOptions operationOps selected=zone.trigger.operation localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.delay.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.delay.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <div class="form-group">
                    <label>
                        {{localize 'DANGERZONE.edit-form.delay.min.label'}}
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="trigger.delay.min" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.trigger.delay.min}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>{{localize 'DANGERZONE.edit-form.delay.max.label'}}</span>
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="trigger.delay.max" min="0" max="10000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.trigger.delay.max}} required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="source">
        <p class="notes">{{localize 'DANGERZONE.edit-form.source.description'}}</p>
         <fieldset>
            <legend>
                {{localize 'DANGERZONE.edit-form.source.area.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.source.area.description'}}"><i class="fas fa-info-circle"></i></span>
            </legend>
            <div class="form-group">
                <div class="form-fields">
                    <select name="source.area" data-action="source-area" value="{{zone.source.area}}">
                        {{selectOptions sourceAreaOps selected=zone.source.area localize=true}}
                    </select>
                </div>
            </div>
            <div class="form-group" id="dz-source-tag" >
                <label>
                    {{localize 'DANGERZONE.edit-form.source.tag.tag.label'}}
                </label>
                <div class="form-fields">
                    <multi-select id="dz-source-tag-danger" name="source.tags" value="{{zone.source.tags}}">
                        <option value=""></option>
                        {{selectOptions zoneTypeOps selected=zone.source.tags localize=true}}
                    </multi-select>
                    <multi-select id="dz-source-tag-zone" name="source.tags" value="{{zone.source.tags}}">
                        <option value=""></option>
                        {{selectOptions zoneOps selected=zone.source.tags localize=true}}
                    </multi-select>
                    <string-tags id="dz-source-tag-tag" name="source.tags" value="{{zone.source.tags}}"></string-tags>
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{localize 'DANGERZONE.edit-form.source.target.label'}}
                    <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.source.target.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <select name="source.target" value="{{zone.source.target}}">
                        {{selectOptions sourceTargetOps selected=zone.source.target localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.source.actor.label'}}</legend>
            <div class="form-group">
                <label>
                    {{localize 'DANGERZONE.edit-form.source.actor.actors.label'}}
                </label>
            </div>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select name="source.actors" value="{{zone.source.actors}}">
                        {{selectOptions actorOps selected=zone.source.actors}}
                    </multi-select>
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{localize 'DANGERZONE.edit-form.source.actor.dispositions.label'}}
                </label>
            </div>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select name=".dispositions" value="{{zone.source.dispositions}}">
                        {{selectOptions tokenDispositionOps selected=zone.source.dispositions localize=true}}
                    </multi-select>source
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{localize 'DANGERZONE.edit-form.token-condition-ex.label'}}
                </label>
            </div>
            <div class="form-group">
                <div class="form-fields">
                    <string-tags name="source.exclusion.conditions" value="{{zone.source.exclusion.conditions}}"></string-tags>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.source.limit.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.source.limit.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <div class="form-group">
                    <label>
                        {{localize 'DANGERZONE.edit-form.source.limit.min.label'}}
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="source.limit.min" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.source.limit.min}} required>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>{{localize 'DANGERZONE.edit-form.source.limit.max.label'}}</span>
                    </label>
                    <div class="form-fields">
                        <input type="Number" name="source.limit.max" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.source.limit.max}} required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.source.trigger.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.source.trigger.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="source.trigger" value="{{zone.source.trigger}}">
                    {{selectOptions sourceTriggerOps selected=zone.source.trigger localize=true}}
                </select>
            </div>
        </div>  
    </div>
    <div class="tab" data-tab="target">
        <p class="notes">{{localize 'DANGERZONE.edit-form.target.description'}}</p>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.placeTemplate.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.placeTemplate.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.choose.enable" {{checked zone.target.choose.enable}} data-action="template-toggle"/>
            </div>
        </div>
        <div class="form-group {{#if hideElevationPrompt}}dz-hidden{{/if}}" id="dz-elevation-prompt">
            <label>
                {{localize 'DANGERZONE.edit-form.promptElevation.label'}}
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.choose.prompt" {{checked zone.target.choose.prompt}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.allInArea.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.allInArea.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.all" {{checked zone.target.all}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.runUntilTokenFound.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.runUntilTokenFound.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.always" {{checked zone.target.always}} />
            </div>
        </div>
        <div class="form-group{{#if hideTargetCombatant}} dz-hidden{{/if}}" id="dz-target-combatant">
            <label>
                {{localize 'DANGERZONE.edit-form.targetCombatant.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.targetCombatant.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.isCombatant" {{checked zone.target.isCombatant}} />
            </div>
        </div>
{{!--         <div class="form-group {{#if hideTargetStartMovement}} dz-hidden{{/if}}" id="dz-target-movement-start">
            <label>
                {{localize 'DANGERZONE.edit-form.targetMovementStart.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.targetMovementStart.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="target.movement.start" {{checked zone.target.movement.start}}/>
            </div>
        </div> --}}
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.actor.label'}}</legend>
            <div class="form-fields actor-select">
                <multi-select name="target.actors" value="{{zone.target.actors}}">
                    {{selectOptions actorOps selected=zone.target.actors}}
                </multi-select>
            </div>
        </fieldset> 
         <fieldset>
            <legend>{{localize 'DANGERZONE.edit-form.token-disposition.label'}}</legend>
            <div class="form-group">
                <div class="form-fields">
                    <multi-select name="target.dispositions" value="{{zone.target.dispositions}}">
                        {{selectOptions tokenDispositionOps selected=zone.target.dispositions localize=true}}
                    </multi-select>
                </div>
            </div>
        </fieldset> 
         <fieldset>
            <legend>
                {{localize 'DANGERZONE.edit-form.token-condition-ex.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.token-condition-ex.description'}}"><i class="fas fa-info-circle"></i></span>
            </legend>
            <div class="form-group">
                <div class="form-fields">
                    <string-tags name="target.exclusion.conditions" value="{{zone.target.exclusion.conditions}}"></string-tags>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="tab" data-tab="clear">
        <p class="notes">{{localize 'DANGERZONE.edit-form.single-run.description'}}</p>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.light.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.light.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.light" value="{{zone.replace.light}}">
                    {{selectOptions lightReplaceOps selected=zone.replace.light localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.tile" value="{{zone.replace.tile}}">
                    {{selectOptions replaceOps selected=zone.replace.tile localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.region.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.region.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.region" value="{{zone.replace.region}}">
                    {{selectOptions regionReplaceOps selected=zone.replace.region localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.sound.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.sound.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.sound" value="{{zone.replace.sound}}">
                    {{selectOptions soundReplaceOps selected=zone.replace.sound localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.wall.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.wall.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.wall" value="{{zone.replace.wall}}">
                    {{selectOptions wallReplaceOps selected=zone.replace.wall localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'DANGERZONE.edit-form.weather.replace.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.weather.replace.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="replace.weather" value="{{zone.replace.weather}}">
                    {{selectOptions weatherReplaceOps selected=zone.replace.weather localize=true}}
                </select>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="extend">
        <p class="notes">{{localize 'DANGERZONE.edit-form.extend.description'}}</p>
        <div class="danger-zone-extensions-list">
            <div class="flexrow extension-record">
                <div class="flexrow">
                    <div>{{localize 'DANGERZONE.edit-form.extend.zone.name.label'}}</div>
                </div>
                <div class="danger-zone-controls flexrow" data-id="">
                    <a class="danger-zone-add" title="{{localize 'DANGERZONE.edit-form.extension.add'}}" data-action="add-extension">
                        <i class="fas fa-plus"></i> {{localize 'DANGERZONE.add'}}
                    </a>
                </div>
            </div>
            <ol class="flexrow" id="danger-zone-zone-form-extend">
                {{{extensionsListHTML}}}
            </ol>
        </div>
    </div>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save.label'}}</button>
	</footer>
</form>