<form autocomplete="off">
    <div class="tab">
        <p class="notes">{{localize "DANGERZONE.type-form.scene.description"}}</p>
        <hr>
        <div class="form-group">
            <label for="active">{{localize "DANGERZONE.type-form.scene.active.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="active" {{checked data.active}}>
            </div>
        </div> 
        <hr>
        <div class="form-group">
            <label for="background.file">{{localize "DANGERZONE.type-form.scene.background.file.label"}}*</label>
            <div class="form-fields">
                {{filePicker target="background.file" type="imagevideo"}}
                <input type="text" name="background.file" class="image" placeholder="{{localize "DANGERZONE.type-form.scene.background.file.placeholder"}}" value="{{data.background.file}}">
            </div>
        </div>
        <div class="form-group">
            <label for="background.randomFile">{{localize "DANGERZONE.type-form.scene.background.randomFile.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="background.randomFile" {{checked data.background.randomFile}}>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="foreground.file">{{localize "DANGERZONE.type-form.scene.foreground.file.label"}}*</label>
            <div class="form-fields">
                {{filePicker target="foreground.file" type="imagevideo"}}
                <input type="text" name="foreground.file" class="image" placeholder="{{localize "DANGERZONE.type-form.scene.foreground.file.placeholder"}}" value="{{data.foreground.file}}">
            </div>
        </div>
        <div class="form-group">
            <label for="foreground.randomFile">{{localize "DANGERZONE.type-form.scene.foreground.randomFile.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="foreground.randomFile" {{checked data.foreground.randomFile}}>
            </div>
        </div>\
        <p class="notes">{{localize "DANGERZONE.type-form.scene.render.description"}}</p>
        <hr>
        <div class="form-group">
            <label><b>{{localize "DANGERZONE.type-form.scene.foreground.e.label"}}</b></label>
        </div>
        <div class="form-group">
            <label for="foreground.e.type">{{localize "DANGERZONE.type-form.scene.foreground.e.type.label"}}</label>
            <div class="form-fields">
                <select name="foreground.e.type" value="{{data.foreground.e.type}}"> 
                    {{selectOptions foregroundElevationTypeOps selected=data.foreground.e.type localize=true}}
                </select>   
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.scene.foreground.e.distance.label"}}
                <span class="units">{{localize 'DANGERZONE.distance'}}</span>
            </label>
            <div class="form-fields">
                <label for="foreground.e.min">{{localize "DANGERZONE.type-form.scene.foreground.e.distance.min.label"}}</label>
                <input type="number" required placeholder="{{localize 'DANGERZONE.gridUnits'}}" data-dtype="Number" name="foreground.e.min" step="1" value={{data.foreground.e.min}}>
                <label for="foreground.e.max">{{localize "DANGERZONE.type-form.scene.foreground.e.distance.max.label"}}</label>
                <input type="number" required placeholder="{{localize 'DANGERZONE.gridUnits'}}" data-dtype="Number" name="foreground.e.max" step="1" value={{data.foreground.e.max}}>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.scene.globalLight.label"}}</label>
            <div class="form-fields">
                <select name="globalLight" value="{{data.globalLight}}"> 
                    {{selectOptions globalIlluminationOps selected=data.globalLight localize=true}}
                </select>   
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="darkness.enable">{{localize "DANGERZONE.type-form.scene.darkness.enable.label"}}</label>
            <div class="form-fields">
                <input type="checkbox" data-dtype="Boolean" name="darkness.enable" {{checked data.darkness.enable}}>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.scene.darkness.value.label"}}</label>
            <div class="form-fields">
                <input type="range" name="darkness.value" value="{{data.darkness.value}}" min="0" max="1" step="0.05"/>
                <span class="range-value">{{data.darkness.value}}</span>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DANGERZONE.type-form.scene.darkness.animate.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="darkness.animate" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{data.darkness.animate}}>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="delay">{{localize "DANGERZONE.type-form.scene.delay.label"}}</label>
            <div class="form-fields">
                <input type="number" required data-dtype="Number" name="delay" placeholder="{{localize "DANGERZONE.ms"}}" min="0" step="1" value={{data.delay}}>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'DANGERZONE.save'}}</button>
    </footer>
</form>