
<div class="tab" data-tab="trigger" data-group="sheet">     
    <p class="notes">{{localize 'DANGERZONE.edit-form.trigger.description'}}</p>
        <fieldset>
        <legend>{{localize 'DANGERZONE.edit-form.events.label'}}</legend>
        <div class="form-group">
            <div class="form-fields">
                <multi-select id="dz-trigger-value" name="trigger.events" value="{{zone.trigger.events}}" data-action="trigger-select">
                    {{selectOptions eventOps selected=zone.trigger.events localize=true}}
                </multi-select>
            </div>
        </div>
        <div id="dz-initiative" class="form-group {{#unless zone.hasCombatInitiativeEvent}}dz-hidden{{/unless}}">
            <label>
                {{localize 'DANGERZONE.edit-form.initiative-count.label'}}
            </label>
            <div class="form-fields">
                <input type="Number" name="trigger.initiative" step="1" value="{{zone.trigger.initiative}}" placeholder="{{localize 'DANGERZONE.edit-form.initiative-count.label'}}" required>
            </div>
        </div>
        <div class="form-group {{#unless zone.hasCombatEvent}}dz-hidden{{/unless}}" id="dz-combatantInZone">
            <label>
                {{localize 'DANGERZONE.edit-form.combatantInZone.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.combatantInZone.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="trigger.combatantInZone" {{checked zone.trigger.combatantInZone}}/>
            </div>
        </div>
        <div class="form-group {{#unless zone.hasMovementEvent}} dz-hidden{{/unless}}" id="dz-trigger-movement-wait">
            <label>
                {{localize 'DANGERZONE.edit-form.trigger.movement.wait.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.trigger.movement.wait.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="trigger.movement.wait" {{checked zone.trigger.movement.wait}}/>
            </div>
        </div>
        <div class="form-group {{#unless zone.hasChatEvent}} dz-hidden{{/unless}}" id="dz-trigger-chat-phrases">
            <label>
                {{localize 'DANGERZONE.edit-form.trigger.chat.phrases.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.trigger.chat.phrases.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <string-tags name="trigger.chat.phrases" value="{{zone.trigger.chat.phrases}}"></string-tags>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <label>
            {{localize 'DANGERZONE.edit-form.promptTrigger.label'}}
                <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.promptTrigger.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input type="checkbox" name="trigger.prompt" {{checked zone.trigger.prompt}}/>
        </div>
    </div>
    <div class="form-group">
        <label>
            <i class="fas fa-radiation-alt"></i>
            &nbsp;{{localize 'DANGERZONE.edit-form.random.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.random.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-group">  
            <div class="form-group">
                <input class="random" type="checkbox" name="trigger.random" {{checked zone.trigger.random}} data-action="random-toggle"/>
            </div>
            <div class="form-group {{#unless zone.trigger.random}}dz-hidden{{/unless}}" id="dz-random-weight">
                <label>
                    {{localize 'DANGERZONE.edit-form.weight.label'}}
                </label>
                <div class="form-fields">
                    <input type="Number" name="trigger.weight" min="1" step="1" value={{zone.trigger.weight}} required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'DANGERZONE.edit-form.likelihood.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.likelihood.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <range-picker name="trigger.likelihood" value="{{#if zone.trigger.likelihood}}{{zone.trigger.likelihood}}{{else}}100{{/if}}" min="1" max="100" step="1"></range-picker>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'DANGERZONE.edit-form.loop.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.loop.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <range-picker data-action="loop-change" name="trigger.loop" value="{{#if zone.trigger.loop}}{{zone.trigger.loop}}{{else}}1{{/if}}" min="1" max="20" step="1"></range-picker>
       </div>
    </div>
    <div class="form-group{{#if hideOperation}} dz-hidden{{/if}}" id="dz-operation" >
        <label>
            {{localize 'DANGERZONE.edit-form.operation.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.operation.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <select name="trigger.operation" value="{{zone.trigger.operation}}">
                {{selectOptions options.TRIGGEROPERATION selected=zone.trigger.operation localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'DANGERZONE.edit-form.delay.label'}}
            <span class="dz-toolt" title="{{localize 'DANGERZONE.edit-form.delay.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <div class="form-group">
                <label>
                    {{localize 'DANGERZONE.edit-form.delay.min.label'}}
                </label>
                <div class="form-fields">
                    <input type="Number" name="trigger.delay.min" min="0" max="5000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.trigger.delay.min}} required>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'DANGERZONE.edit-form.delay.max.label'}}</span>
                </label>
                <div class="form-fields">
                    <input type="Number" name="trigger.delay.max" min="0" max="10000" step="1" placeholder="{{localize "DANGERZONE.ms"}}" value={{zone.trigger.delay.max}} required>
                </div>
            </div>
        </div>
    </div>
</div>